<div class="developing">
    <div class="table-msg">
        <div class="msg">
            Website is under development!!
            <p id="text">
                From Duykhanhdev with love 😘<br/>
                See you later!
            </p>
        </div>
    </div>
</div>